body {
  background-color: #300;
  color: rgb(255, 170, 67);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
}
strong, b {
  font-weight: 750;
}
a { 
  color: #80b3ff;
}
a:visited {
  color: #86bf88;
}
a:hover {
  color: #b3d0fc;
}
.site-header2 { border-top: 0px solid #424242; border-bottom: 0px solid #e8e8e8; min-height: 55.95px; position: relative; }
.site-title2 { font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }
.site-title2, .site-title2:visited { color: #2aa601; }
.wrapper2 { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }
.colored-row {
  background-color: #F5F5F5; /* Adjust color as needed */
}
table { margin-bottom: 30px; width: 100%; text-align: left; color: rgb(255, 170, 67); border-collapse: collapse; border: 1px solid #e8e8e8; }
table tr:nth-child(even) { background-color: #400; }
table th, table td { padding: 10px 15px; }
table th { background-color: #500; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }
table th, table td {
  color: rgb(255, 170, 67); /* Adjust color as needed */
}
blockquote { color: rgb(255, 170, 67); border-left: 4px solid #ec4300; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; border-right: 4px solid #ec4300; padding-right: 15px}
blockquote > :last-child { margin-bottom: 0; }